.menu{
    background-image: url('https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg');

.table{
   
    margin-left: auto;
    
    text-align: center;
    background-color: rgb(0, 0, 0) ;
    opacity: 80%;
    align: center
    
    
}